/* countdown */
.countdown {
	width: 600px;
	max-width: 100%;
	margin: 40px auto 0;
	@include display( flex );
	@include flex-flow( row wrap );
	@include justify-content( space-around );
	color: $primaryColor;

	&>div {
		@include flex( 0 0 115px );
		width: 115px;
		height: 115px;
		margin-bottom: 40px;
		position: relative;

		&:after {
			text-transform: uppercase;
			font-size: 16px;
			position: absolute;
			bottom:-40px; left:0; right:0;
			text-align:center;
			content: attr(data-interval);
		}
	}

	.circles-text { font-size:0 !important;}
	.circles-integer { font-size: 32px;}
	.circles-decimals { display: none; }

}

@media screen and (max-width: 599px) {
	.countdown {
		width: 260px;

		&>div { margin-top: 20px; }

	}
}