.media-grid {
	@include display( flex );
	@include flex-flow( row wrap );
	@include justify-content( center );
	margin-bottom: -60px;
}

.media-grid-item {
	@include flex( 0 1 auto );
	position: relative;
	overflow:hidden;


	&:after {
		position: absolute;
		background: rgba(0,0,0,0.8);
		top:0; left:0; right:0; bottom:0;
		content:"";
		opacity:0;
		border: 0 solid #fff;
		z-index: 1;
		@include transition( all 0.3s $ease-in-out-sine 0.3s );
	}

	&:hover {
		&:after { 
			border-width: 6px;
			opacity:1;
			@include transition-delay( 0s );
		}
	}

	.lazybg {
		height:0;
		padding: 0 0 100%;
	}

	.four-up & {
		@include flex-basis( 25% );

		@media screen and (max-width: 1000px) { @include flex-basis( 33% ); }
		@media screen and (max-width: 750px) { @include flex-basis( 50% ); }
		@media screen and (max-width: 450px) { @include flex-basis( 100% ); }

	}

}

.media-grid-title {
	margin:0;
}

.media-grid-action {
	@include t-fa-abs();
	width: 40px; height: 40px;
	margin: 10px auto;
	font-size: 28px;
	border-radius: 50%;
	border: 1px solid $lightColor;	
	cursor: pointer;	

	&:hover {
		background: $lightColor;
		color: $secondaryColor;
	}

	&.video-play {
		&:before { 
			content: $fa-var-angle-right; 
			text-indent: 3px;
		}
	}

	&.photo {
		&:before {
			font-size: 24px;
			content: $fa-var-expand;
		}
	}

}

.media-grid-item-content {

	height:0;
	padding: 0 0 100%;
	overflow:hidden;
	position: relative;
	z-index: 2;

	.mpopup & { cursor: pointer; }

	.meta {
		text-transform: uppercase;
		font-size: 14px;
	}

	&>div {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		padding: 20px;
		@include display( flex );
		@include align-items( center );
		@include justify-content( center );
		@include flex-flow( column nowrap );
		@include transform( translate3d(0,100%,0) );
		@include transition( all 0.3s $ease-in-out-sine 0s );
	}


	&:hover {
		&>div {
			@include transform( none );
			@include transition-delay( 0.3s );
		}
	}

	.share {
		a {
			@include t-fa-abs();
			display: inline-block;
			vertical-align: middle;
			color: #fff;
			width: 30px; height: 30px;
			&:hover { color: $darkColor; }
			&:before { font-size: 26px; }
		}

		.fb {
			&:before { content: $fa-var-facebook-square; }
		}

		.tw {
			&:before { content: $fa-var-twitter-square; }
		}


	}

}