$defaultFontStack: helvetica,arial,sans-serif !default;
$serifFontStack: georgia,garamond,serif !default;
$sansSerifFontStack: helvetica,arial,sans-serif !default;

/* font awesome */
$fa-font-path:"../fonts/fontawesome/"; // for referencing Bootstrap CDN font files directly
@import "../../bower_components/fontawesome/scss/font-awesome";

/* font awesome */
@mixin t-fa {	
	&:before { @include fa-icon(); }
}

/* for a specific module - like social - where it's easier to use apply styles within the module itself */
@mixin t-fa-abs {
	@include t-fa();
	position: relative; 
	text-indent: -999em; 
	display: block; 
	overflow:hidden;
	&:before {
		position: absolute; top: 50%; left:0; right:0; 
		text-align: center; 
		z-index: 2; 
		text-indent:0; 
		@include transform( translateY(-50%) !important );
	}
}

/* when classes are simpler */
.t-fa { @include t-fa(); }
.t-fa-abs { @include t-fa-abs(); }


@include declare-font-face('Museo Sans','museosans','../fonts/museosans/light/',300);
@include declare-font-face('Museo Sans','museosans','../fonts/museosans/lightitalic/',300,italic);
@include declare-font-face('Museo Sans','museosans','../fonts/museosans/bold/',700);
@include declare-font-face('Museo Sans','museosans','../fonts/museosans/bolditalic/',700,italic);
@include declare-font-face('Museo Sans','museosans','../fonts/museosans/regular/',500);
@include declare-font-face('Museo Sans','museosans','../fonts/museosans/regularitalic/',500,italic);

/* JCWF-OBriens font */
@include declare-font-face('JCWF-OBriens','obriens','../fonts/obriens/');
$obriensFont: JCWF-OBriens;

/* character mapping for weather shore font */
$obriensFontCharacterMapping: (
	'ob-puffins': "p",
	'ob-icebergs': "i",
	'ob-whales': "w",
	'ob-coastline': "c",
	'ob-tripadvisor': 't'
);

@mixin obriens-f() {
	@include t-fa();
	&:before {
		text-transform: none !important;
		font-family: $obriensFont !important;
	}
	
	@each $map in $obriensFontCharacterMapping {
	
		$class: #{nth($map,1)};
		$character: #{nth($map,2)};
		
		&.#{$class}:before {
			content: "#{$character}";
		}
		
	}
}

.obriens-f { @include obriens-f(); }