$pageBackgroundColor: #fff !default;
$darkBackgroundColor: #000 !default;
$darkBackgroundContentColor: #fff !default;
$sectionSeparatorColor: #000 !default;
$darkSectionSeparatorColor: #fff !default;
$separatorColor: #000 !default;

$bodyContentColor: #000 !default;
$bodyBackgroundColor: #fff !default;

$wrapperWidth: 1200px !default;
$collapseNavAt: 700px !default;
$pageWrapperWidth: 1920px !default;

html {
	height: 100%;
	.home { height: 100%; }
}

/* body */
body { 
	font-family: $defaultFontStack; 
	line-height: 1.4; 
	overflow-x:hidden; 
	background: $bodyBackgroundColor;
	color: $bodyContentColor;
}

.page-wrapper { 
	margin: 0 auto; 
	position: relative; 
	width: $pageWrapperWidth;
	background: $pageBackgroundColor;
	max-width: 100%; 
	
	@media screen and (min-width: $pageWrapperWidth) {
		.home & { overflow-x: hidden; }
	}
	
	&:after {
		position: fixed;
		content: "";
		top:0; left:0; right:0; bottom:0;
		margin: 0 auto;
		max-width: 100%;
		width: $pageWrapperWidth;
		background: #fff;
		z-index: -1;
	}
}

.sw { 
	width: $wrapperWidth; 
	max-width: 95%;
	margin: 0 auto; 
	position: relative; 
	&.full { max-width: 100%;}
}


.dark,
.dark-bg { background-color: $darkBackgroundColor; }

.d-bg,
.dark-bg { color: $darkBackgroundContentColor; }

.light-bg { color: $bodyContentColor; }

hr { 
	margin: 10px auto; 
	border: solid $separatorColor; 
	border-width:1px 0 0;
	
	&.centered { max-width: 70%; }
}

.body section { 

	padding: 60px 0; 
	position: relative;
	
	&.nopad { padding:0;  }
	&.pad20 { padding: 20px 0; }
	&.pad10 { padding: 10px 0; }
	
	.hgroup:last-child,
	.grid:last-child { margin-bottom:0; }
	
	&.filter-section {
		padding-top:0;
	}
	
}