$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

$footerBackgroundHover: rgba(0,0,0,0.5);
$jacLogoWidth: 206px;
$collapseFooterAt: 1100px;

/* footer */
footer {

	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor; }
	}

}

#jac { 
	position: absolute;
	top:0; right:0; bottom:0;
	width: $jacLogoWidth;
	display: block;
	border-left: 1px solid $footerBackgroundHover;
	&:before {
		content:"";
		display:block;
		margin: 0 auto;
		width: $jacLogoWidth - 20px;
		height: 100%;
		background: url(../images/jac-logo.svg) center no-repeat;
		background-size: contain;
	}
	
	&:hover {
		background: $footerBackgroundHover;
	}
	
	img { display: none; }
}

.footer-wrap {
	position: fixed;
	bottom:0; right:0; left:0;
	width: $pageWrapperWidth;
	max-width:100%;
	margin: 0 auto;
	z-index: 53;
	
	@media screen and (max-width: $collapseFooterAt) {
		& {  position: static;  }
	}
}

footer {
	@include transform( translateZ(0) );
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );	
	padding-right:$jacLogoWidth + 20px;
	position: absolute;
	bottom:0; right:0;
	left: $navSideWidth;
}

.footer-left {
	a {
		display:block;
		float: left;
		padding: 0 20px;
		line-height: $footerHeight;
		text-transform: uppercase;
		font-size: 12px;
		border-right: 1px solid $footerBackgroundHover;
		
		&:before {
			margin-right: 5px;
			font-size: 18px;
		}
		
		&:hover {
			background: $footerBackgroundHover;
		}
	}
}

.footer-right {
	@include align-self( center );
}

.footer-link {
	@include obriens-f();
	text-align:center;
	float: left;
	color: $footerLinkColor !important;
	
	text-transform: uppercase;
	font-size: 11px;
	padding: 15px;
	
	&:before { 
		display: block; 
		font-size: 24px;
		margin: 0 0 4px;
	}
	
	&:hover {
		background: $footerBackgroundHover;
	}
}