.primary-bg { background: $primaryColor; }
.medium-bg { background: $mediumColor;}
.light-bg { background: #fafafa; }


/* modules */
@import "site/overview_grid";
@import "site/split_block";

body {
	/* default font style */
	font-weight: 500;
	font-style: normal;
}

.page-wrapper {
	@include display( flex );
}

.body-wrap {
	@include flex ( 1 1 auto );
	width:0;
	position: relative;
	padding-bottom: $footerHeight;
	
	@media screen and (min-width: $pageWrapperWidth) {
		padding-bottom:0;
	}
	
	@media screen and (min-width: $fullyExpandedNav) {
		body.home & { margin-left: - $navMainWidth; }
	}

}

.map-page {
	.body-wrap,
	.page-wrapper:after { background: $mediumColor; }
}

.body {
	position: relative;
	z-index: 11;
	background: #eee;
}

.hero .swipe-item-map {
	opacity:0.6;
	&:after {
		content:"";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		z-index: 10;
	}
}

.split-block-map {
	position:absolute;
	top:0; left:0; right:-5%; bottom:0;
	height: 100vh;
	padding-bottom: $footerHeight;
	
	iframe { width: 100%; height: 100%; }
	
	@media screen and (max-width: $splitBlockCollapse) {
		& { 
			position: relative;
			left: -5%; right:0;
			width: 100vw;
			margin: -40px -20px;
		}
		iframe { height: 80vh; }
	}
}

.acc-item {
	border: 1px solid rgba(0,0,0,0.2);
	border-width: 1px;
	& + & { border-top-width:0;}
}

.acc-item-handle {
	font-weight:300;
}

.acc-item-content {
	padding: 40px;
}

.split-block-faqs {
	.split-block-item {
		display: block;
		&:last-child { margin-left: -1px; }
	}
}

/* collapse footer at 1100px */
@media screen and (max-width: $collapseFooterAt) {
	
	.home {
		.body-wrap { 
			position: absolute;
			height:auto;
		}
		.hero { position: static; }
	}
	
	.body-wrap { padding-bottom:0; }
	
	
	
	.nav-logo {
		width: 70%;
		margin: 0 auto 10px;
	}
	
	footer {
		z-index: 1;
		position: relative !important;
		left: auto !important; right: auto;
		display:block;
		text-align:center;
		padding:20px;
		
		.social {
			@include justify-content( center );
		}
	}
	
	.footer-left {
		a { 
			float: none; 
			line-height: normal; 
			padding: 12px;
			border: none !important;
		}
	}
	
	.footer-center {
		margin: 15px 0;
	}
	
	.footer-link {
		float: none;
		display: inline-block;
	}
	
	#jac {
		position: static;
		height: 50px;
		border: none;
		margin: 10px auto;
	}
	
}

.mobile-nav-bg { display: none; }
@media screen and (max-width: $collapseNavAt) {

	.mobile-nav-bg { 
		@include transform( translateZ(0) );
		width: 100vw; height: 10000px;
		background: rgba(0,0,0,0.8); 
		position: fixed;
		top:0; left:0;
		z-index: -1; 
		display: block; 
		visibility: hidden; 
		opacity:0; 
		cursor: pointer;
		@include transition( all 0.4s $ease-in-out-sine );
		
		.show-nav & {
			opacity:1; 
			visibility: visible; 
			z-index: 21; 
			cursor: pointer;
		}
		
	}

	.body-wrap { 
		@include transition( $showNavDuration all $showNavEasing );
		margin-left: - $navSideWidth;
		padding:0;
		z-index: 6;
		.show-nav & {
			@include transform( translate3d( $navMainWidth, 0, 0) );
		}
		
	}
	
	.nav-wrap {
		z-index: initial;
		&:after { display: none; }
	}
	
	.nav-aside { 
		background: transparent; 
		border: none;
		bottom: auto;
		height: auto;
		display: block;
		z-index: 7;
		
		.fa-sitemap,
		.fa-info-circle { display: none; }
	}
	
	.nav-aside-content { height:0; }
	
	.nav { 
		@include transform( translateZ(0) );
		display: block;
		padding-bottom: 30px;
		position:fixed;
		left:0; top:0;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
		z-index: 1;
		background: #fff;
		
		ul ul {
			@include transform( none );
			position: static;
		}
	}
	
	.toggle-nav-wrap {
		background: none !important;
		display: inline;
	}
	
	.toggle-nav {
		z-index: 10;
		position: relative;
		left: -10px; top: 10px;
		margin:0;
		background: rgba(0,0,0,0.8);
	}
	
	.nav-contact {
		padding: 30px 15px;
	}
	
	.show-nav body {
		height: 100vh;
		overflow: hidden;
	}
}

/* booking */
.book-wrap {
	position: absolute; 
	top: 20px; right: 20px;
	z-index: 10;
	text-align:center;
	
	span {
		display: block;
		color: #fff;
		margin: 5px 0 0;
		font-size: 14px;
	}
	
	@media screen and (max-width: 500px) {
		& { top: 10px; right: 10px; }
	}
}

/* testimonial */
.testimonial {

	position: relative;
	background: #2b2b2b;
	color:#fff;
	border: solid #fff;
	border-width: 1px 0;
	
	.lazybg { 
		position: absolute; 
		top:0; left:0; right:0; bottom:0;
		&.loaded { opacity:0.35; }
	}

	blockquote {
		padding: 50px 30px;
		margin: 0 auto;
		max-width: 100%;
		font-weight: 300;
		width: 750px;
		text-align:center;
		font-size: 18px;
		position: relative;
		z-index: 2;
	}
	
	cite {
		margin: 15px 0 0;
		font-size: 24px;
		display: block;
		text-align:center;
		font-style: italic;
	}
}

/* gallery */
.gallery-item {
	display:block;
	overflow: hidden;

	.lazybg {
		width: 100%;
		&:after {
			content:"";
			display:block;
			width: 100%;
			padding: 0 0 100%;
		}
	}
	
}

.rates-grid {
	.col {
		padding-bottom:0;
	}
}

.rates-row {
	line-height: 1;
	padding: 8px;
	&:nth-child(odd) { background: rgba(0,0,0,0.1); }
}

.contact-row {
	@include flex-flow( row wrap );
	line-height: 1;
	font-size: 16px;
	
	&:nth-child(odd) { background: rgba(0,0,0,0.1); }
	
	span { padding: 8px; }
	
	@media screen and (max-width: 450px) {
		& { border-radius: $buttonBorderRadius; }
		&,
		& span { 
			display: block; 
			text-align: left !important;
		}
		
		.r { padding-top:0; }
		
	}
}

.contact-grid {

	@include flex-flow( row nowrap );
	&>.col {
		@include flex( 1 1 auto );
		&:first-child {
			@include flex( 0 0 400px );
			width: 400px;
		}
	}
	
	@media screen and (max-width: 1000px) {
		& { display: block; }
		&>.col {
			&:first-child {
				width: auto;
			}
		}
	}
}

/* search results */
.search-results-header {
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );
	padding: 10px;
	color: #fff;
	background: $primaryColor;
	.search-results-query span { font-style: italic; }
}

.search-results-body {
	background: $mediumColor;
}

.search-result {
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );
	padding: 10px;
	color: $bodyContentColor;
	margin: 0 0 1px;
	
	&:hover { background: rgba(0,0,0,0.1); }
}

.search-result-thumb {
	@include flex( 0 0 120px );
	margin-right: 15px;
	width: 120px;
	
	.lazybg {
		height:0;
		padding: 0 0 70%;
	}
	
}

.search-result-body {
	@include flex( 1 1 auto );
}

.search-result-date {
	@include flex( 0 0 150px );
	display: block;
	text-align:right;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}

@media screen and (max-width: 750px) {
	.search-result + .search-result { border-top: 1px solid #fff; }
	.search-result-thumb { display: none; }
}

@media screen and (max-width: 500px) {
	.search-result { display: block; }
	.search-result-date { 
		margin: 3px 0 7px;
		text-align:left; 
	}
	
	.search-results-header .post-date { display: none; }
}

.search-results-footer {
	padding: 10px;
	color: #fff;
	background: darken($mediumColor,20);
	text-align:right;
}

.search-results-controls {
	display: inline-block;
	vertical-align: middle;
	font-size:0;
	
	button {
		display:inline-block;
		width: 40px; height: 40px;
		color: #fff;
		font-size: 32px;
		
		&:hover {
			color: $primaryColor;
		}
	}
}

.search-results-counts {
	vertical-align: middle;
}

/* article */
.article-body {

	time {
		text-transform: uppercase;
		display: block;
		margin: 0 0 15px;
		font-weight: 700;
		font-size: 14px;
		line-height: 1;
		padding: 0 0 8px;
		border-bottom: 1px solid rgba($bodyContentColor,0.2);
	}

	.full-img {
		margin: 15px auto;
	}
}

.big-ico-wrap {
	margin: 40px 0;
}

.big-ico {
	display: block;
	height: 107px;
	margin: 0 auto;
}

/* tour page */
.tour-schedule {
	padding-left: 40px;
}

.tour-schedule-row {
	@include display( flex );
	text-align:center;
	position: relative;
	
	&:nth-child(even) {
		background: rgba(0,0,0,0.1);
	}
	
	&:before {
		@include transform( translate3d( -100%, -50%, 0) );
		content: attr(data-month);
		position: absolute;
		top: 50%; left:-10px;
		font-size: 14px;
	}
	
	span {
		@include flex( 1 0 auto );
		width:0;
		padding: 8px;
		display: block;
		
		&:nth-child(even) { background: rgba(0,0,0,0.05); }
	}
	
	.fa-check { color: $primaryColor; }
	
}

.tour-schedule-head {
	background: $darkBackgroundColor;
	color: #fff;
}

.tour-schedule-footer {
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );
	
	padding: 10px 0;
	
	.cc-logos {
		img { height: 32px; }
	}
	
	small {
		font-size: 12px;
		display: block;
		text-transform: uppercase;
	}
	
}

.selector {
	border-radius: $buttonBorderRadius;
}

.split-block-gallery {

	.swipe-item {
		position: relative;
		.swipe-item-bg {
			background: center no-repeat;
			background-size: cover;
			position: absolute;
			top:0; left:0; right:0; bottom:0;
		}
	}
	
	.swiper-wrapper { position: relative; }

	.big-gallery-swiper {
		.swipe-item { height: 70vh; }
	}
	
	.little-gallery-swiper {
		.swipe-item { height: 30vh; }
	}
	
	button {
		
		@include t-fa-abs();
		position: absolute;
		background: rgba(0,0,0,0.6);
		top:0; bottom:0;
		width: 40px;
		color: #fff;
		font-size: 32px;
		
		
		&.slick-prev { 
			left:0; 
			&:before { content: $fa-var-angle-left; }
		}
		&.slick-next { 
			right:0; 
			&:before { content:$fa-var-angle-right; }
		}
	}
	
}